@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Black.ttf");
  src: url("/fonts/Montserrat/Montserrat-Bold.ttf");
  src: url("/fonts/Montserrat/Montserrat-ExtraBold.ttf");
  src: url("/fonts/Montserrat/Montserrat-Light.ttf");
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-style: swap;
}
